    table.my-table {
        font-family: Calibri;
    width: 100%;
    margin-bottom: 1rem;
    color: #3e5569;
    vertical-align: top;
    border-color: #e9ecef;
        border: 2px solid #CCC;
    border-collapse: collapse;
    }

    table.my-table th{
    color: #303e4b;
    }
    
    .my-table td {
        padding: 8px;
        margin: 0px;
        border: 1px solid #CCC;
        margin: 10px;
    }
    
    .td-input{
        padding: 0px !important;
        margin: 0px;
        border: 1px solid #CCC;
        margin-left: 3px;
    }
    
    .my-table th {
        margin: 10px;
        color: #3e5569;
        font-weight: bold;
            padding: 8px;
    font-size: 18px;
    }
    
    .tr-cat {
        color: #314353;
        font-weight: bold;
    }
    .my-table tr:not(:first-child):hover {background-color:#f7f7f7;}
    
    input[type=text] {
    background: transparent;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
        }
    
    input[type=text]:focus {
    background: transparent;
    width: 100%;
    height: 100%;
        border: none;
    outline: none;
    }

    .my-table-bordred>tbody>tr>td, .my-table-bordred>tbody>tr>th, .my-table-bordred>tfoot>tr>td, .my-table-bordred>tfoot>tr>th, .my-table-bordred>thead>tr>td, .my-table-bordred>thead>tr>th {
        padding: 10px;
    }

    /* popover */

  /* Popover styling */
/*
  a {
    text-decoration: none;
  }
  
  .popover__title {
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    color: rgb(228, 68, 68);
    text-align: center;
    padding: 15px 0;
  }
  
  .popover__wrapper {
    position: relative;
    margin-top: 1.5rem;
    display: inline-block;
  }
  .popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -150px;
    transform: translate(0, 10px);
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
  }
  .popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
    transition-duration: 0.3s;
    transition-property: transform;
  }
  .popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  }
  .popover__message {
    text-align: center;
  }
  */